manifest {
name = 'jpradoma/Haplotypecaller_wrapper'
author = 'jpradoma'
description = 'gatk Haplotypecaller'
mainScript = 'main.nf'
version = '1.0.0'
}


params {
  outdir = "$PWD/GVCF"
  fasta = "/pasteur/sonic/homes/jpradoma/gdap_zeus/CAAPA_Calling/resources/hg38/hs38DH.fa"
  threads = 4
}

timeline {
  enabled = true
  file = "$params.outdir/timeline.html"
}

report {
  enabled = true
  file = "$params.outdir/report.html"
}

profiles {
  slurm { includeConfig './configs/slurm.config' }

  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    }
}
